.mdl-layout {
    align-items: center;
    justify-content: center;
}
.mdl-layout__content {
    padding: 24px;
    flex: none;
}
.bg-image{
    /*background-image: url('../..//..//favicon.ico') no-repeat !important;*/
}