<div class="booktaxi-container">
    <h1>SIGN UP</h1>
    <div class="containerw3layouts-agileits">
        <div class="w3layoutscontactagileits">
            <form >
                <div class="agileemailinfo agileinfow3ls">
                    <div class="agileemailinfo-lable wthreelable">
                        <label>Name</label><span class="colon">:</span>
                    </div>
                    <div class="agileemailinfo-input wthreeinput">
                        <input class="top" type="text" name="Name" placeholder="Name" required="">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="agileemailinfo agileinfow3ls">
                    <div class="agileemailinfo-lable wthreelable">
                        <label>Email</label><span class="colon">:</span>
                    </div>
                    <div class="agileemailinfo-input wthreeinput">
                        <input class="top" type="email" name="Email" placeholder="Email" required="">
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="agileemailinfo agileinfow3ls">
                    <div class="agileemailinfo-lable wthreelable">
                        <label>Password</label><span class="colon">:</span>
                    </div>
                    <div class="agileemailinfo-input wthreeinput">
                        <input class="top" type="password" name="Password" placeholder="Password" required="">
                    </div>
                    <div class="clear"></div>
                </div> 
                <div class="agileemailinfo agileinfow3ls">
                    <div class="agileemailinfo-lable wthreelable">
                        <label>Confirm Password</label><span class="colon">:</span>
                    </div>
                    <div class="agileemailinfo-input wthreeinput">
                        <input class="top" type="password" name="rePassword" placeholder="Confirm Password" required="">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="aitssubmitw3ls">
                    <input type="submit" name="submit" value="SUBMIT">
                </div>
                <div class="aitssubmitw3ls">
                    <a [routerLink]="['/login']">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>