<div class="header"  id="top">
    <div class="wrap">
        <!---start-logo---->
        <div class="logo">
            <a href="#"><img src="../../../assets/images/logo1.png" title="logo" /></a>
        </div>
        <!---End-logo---->
        <!---start-top-nav---->
        <div class="top-nav">
            <ul>
                <li routerLinkActive="active"><a routerLink="/booking">Book Taxi</a></li>
                <li routerLinkActive="active"><a routerLink="/ticketsearch" >Ticket Search</a></li>
                <li routerLinkActive="active"><a routerLink="/destination">Destinations</a></li>
                <li routerLinkActive="active"><a routerLink="/driverinfo">Drivers Info</a></li>
                <li routerLinkActive="active"><a routerLink="/reports">Reports</a></li>
                <li routerLinkActive="active"><a routerLink="/home">Sign Out</a></li>
                <div class="clear"> </div>
            </ul>
        </div>
        <div class="clear"> </div>
        <!---End-top-nav---->
    </div>
</div>