<app-dashboard-header></app-dashboard-header>
<h1>TICKET SEARCH</h1>
<div class="containerw3layouts-agileits">
    <div class="w3layoutscontactagileits">
        <form>
            <div class="agileemailinfo agileinfow3ls">
                <div class="agileemailinfo-lable wthreelable">
                    <label>Ticket Id</label>
                </div>
                <div class="agileemailinfo-input wthreeinput">
                    <input class="top" type="text" [(ngModel)]="bticketsearch.id" name="from" placeholder="" required="">
               
               </div>
            <div class="aitssubmitw3ls">
                    <input type="submit" name="submit" (click) = "submitForm(bticketsearch)"  value="CHECK">
                </div>
            </div>
        </form>
    </div>
</div>
